:host {
  position: absolute;
  border: 1px solid var(--accent);
  top: 20px;
  left: 20px;
  border-radius: 5%;
  width: 300px;
  padding: 10px;
  background-color: var(--notification-bg);
}

h4 {
  height: 24px;
  display: inline-block;
  color: var(--text-muted);
  margin: 0;
}
